.button {
  cursor: pointer;
  padding: 5px 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

.button__addTask {
  composes: button;
  background-color: hsla(133, 100%, 40%, 10%);
  color: rgb(46, 214, 83);
  border-color: #2ed653;
}

.button__update {
  composes: button;
  background-color: hsl(40, 100%, 51%, 10%);
  color: #ffb931;
  border-color: #ffb931;
}

.button__delete {
  composes: button;
  background-color: hsl(0, 100%, 50%, 10%);
  color: #ff4d4d;
  border-color: #ff4d4d;
}

.button__complete {
  composes: button;
  background-color: hsl(120, 100%, 50%, 10%);
  color: #2ed653;
  border-color: #2ed653;
}
