.button {
  cursor: pointer;
  padding: 5px 10px;
  font-size: var(--text-responsive);
}

.button__addTask {
  composes: button;
  background-color: hsla(133, 100%, 40%, 10%);
  color: var(--white-color);
  background-color: var(--gray-color);
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: var(--lemon-color);
    color: var(--darkgray-color);
  }
}

.button__update {
  composes: button;
  background-color: hsl(40, 100%, 51%, 10%);
  color: #ffb931;
  border-color: #ffb931;
}

.button__delete {
  composes: button;
  background-color: hsl(0, 100%, 50%, 10%);
  color: #ff4d4d;
  border-color: #ff4d4d;
}

.button__complete {
  composes: button;
  background-color: hsl(120, 100%, 50%, 10%);
  color: #2ed653;
  border-color: #2ed653;
}
