.textArea {
  padding: 10px;
  border: 1px solid var(--lemon-color);
  color: var(--white-color);
  resize: vertical;
  overflow: auto;
  outline: none;
  max-height: 200px;
  min-height: 40px;

  &::placeholder {
    outline: none;
    color: var(--lemon-color);
  }
}
