.taskListForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  width: fit-content;
  margin-inline: auto;
  background-color: var(--darkgray-color);

  h2 {
    font-size: x-large;
    font-weight: bold;
    color: var(--white-color);
  }
}
