@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");

:root {
  /*Colors*/
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 8%);
  --gray-color: hsl(0, 0%, 20%);
  --darkgray-color: hsl(0, 0%, 12%);
  --green-color: rgb(136, 226, 59);
  --lemon-color: hsl(75, 94%, 57%);

  /*Fonts responsives*/
  --h1-responsive: clamp(2em, 3vw, 3em);
  --h2-responsive: clamp(1.3em, 1.5vw, 1.6em);
  --h3-responsive: clamp(1.2em, 1.5vw, 1.5em);
  --text-responsive: clamp(1em, 1.5vw, 1.1em);

  /*Fonts*/
  --archivo-black-font: "Archivo Black", sans-serif;
  --inter-font: "Inter", sans-serif;
}

h1 {
  font-family: var(--archivo-black-font);
  font-size: var(--h1-responsive);
}

h2 {
  font-family: var(--archivo-black-font);
  font-size: var(--h2-responsive);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  height: 100vh;
}
